* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: amazon;
    src: url("../src/assets/fonts/amazon.ttf");
}

:root {
    --productColor: #B12704;
    --transition: 0.3s;
    --animation: 1s;
    --radius: 5px;
    --boxShadow: 0 0 10px rgba(0, 0, 0, 0.6);
    --linearGradient: linear-gradient(180deg, rgba(249,225,115,1) 60%, rgba(255,255,255,1) 100%);
}

@mixin flexin($dir, $align, $justify) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}

.body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    font-family: amazon;
    font-size: 16px;
    background: var(--linearGradient);

    .first-layer {
        width: 100%;
        height: 10vh;
        background-color: #131921;
        @include flexin(row, center, space-between);
        padding: 0 30px;
        color: #fff;
        animation: slide-first-layer var(--animation) ease-in-out forwards;
        z-index: 3;
        position: relative;

        .amazon {
            text-decoration: none;

            h1 {
                font-size: 27px;
    
                span:nth-child(1) {
                    color: rgba($color: #fff, $alpha: 1);
                }

                span:nth-child(2) {
                    color: rgba($color: #fff, $alpha: 0.5);
                }
    
                span:nth-child(3), i {
                    background: var(--linearGradient);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
    
                span:nth-child(4) {
                    color: rgba($color: #fff, $alpha: 0.5);
                    margin-left: 2px;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                }
            }
        }

        form {
            width: 40%;
            height: 60%;
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .url-input {
                width: 93%;
                height: 100%;
                border-radius: var(--radius) 0 0 var(--radius);
                border: none;
                padding: 0 10px;
                outline: none;
            }

            .url-btn {
                width: 7%;
                height: 100%;
                border-radius: 0 var(--radius) var(--radius) 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: #febd69;

                i {
                    transform: scale(1.4);
                }

                &:hover {
                    background-color: #f3a847;
                }
            }
        }


        .github i {
            cursor: pointer;
            transform: scale(1.7);
            transition: color var(--transition), transform var(--transition);
            color: rgba($color: #fff, $alpha: 0.5);

            &:hover {
                transform: scale(2.2) rotate(720deg);
                color: #f9e173;
            }
        }
    }

    .sec-layer {
        width: 100%;
        height: 6vh;
        background-color: #232f3e;
        @include flexin(row, center, center);
        color: rgba($color: #fff, $alpha: 0.5);
        transform: translateX(-100%);
        animation: slide-sec-layer var(--animation) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 1.4s;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #232f3e;
        }
    }

    .third-layer {
        width: 100%;
        height: 84vh;
        @include flexin(row, center, space-evenly);
        position: relative;

        .img-container {
            width: 55%;
            height: 90%;
            background-color: white;
            border-radius: var(--radius);
            box-shadow:  var(--boxShadow);
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: var(--transition);
            
            img {
                width: 100%;
                border-radius: var(--radius);
            }

            &:hover {
                transform: scale(1.06);
            }
        }

        .info-container {
            width: 35%;
            height: 90%;
            @include flexin(column, center, space-between);

            .actual-info,
            .desired-info {
                width: 100%;
                background-color: white;
                border-radius: var(--radius);
                box-shadow:  var(--boxShadow);
            }

            .actual-info {
                height: 35%;

                div {
                    width: 100%;
                    padding: 5px 15px;
                    
                    &:nth-child(1) {
                        height: 55%;

                        h4 {
                            font-style: 16px;
                            text-align: center;
                            color: #0f1111;
                        }
                    }

                    &:nth-child(2) {
                        height: 45%;
                        @include flexin(column, flex-start, space-evenly);

                        span {
                            color: var(--productColor);
                        }
                    }
                }
            }

            .desired-info {
                height: 55%;
                @include flexin(column, center, center);

                .desired-header {
                    width: 100%;
                    height: 15%;
                    background-color: #232f3e;
                    border-radius: var(--radius) var(--radius) 0 0;
                    @include flexin(row, center, flex-start);
                    padding: 0 15px;
                    color: rgba(255, 255, 255, 1);
                    letter-spacing: 1.5px;
                }

                .desired-body {
                    width: 100%;
                    height: 65%;
                    padding: 10px 15px;

                    & > div {
                        width: 100%;
                        height: 25%;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-areas: "text field";
                        align-items: center;

                        p {
                            grid-area: text;
                        }

                        input {
                            grid-area: field;
                            height: 80%;
                            border-radius: var(--radius);
                            border: 1px solid;
                            border-color: #c4cad5;
                            box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
                            background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
                            padding: 0 4px;

                            &:focus {
                                outline-color: orange;
                            }
                        }

                        input[type="checkbox"] {
                            width: 11%;
                        }
                    }

                    .warning-div {
                        grid-template-areas: "text text";
                        align-items: flex-end;

                        .warning-text {
                            grid-area: text;
                            color: #ea2424;
                            text-align: center;
                        }
                    }

                }

                .desired-action {
                    width: 100%;
                    height: 20%;
                    @include flexin(row, center, center);

                    button {
                        background: linear-gradient(to bottom,#f6c88f,#ed9220);
                        border-radius: var(--radius);
                        outline: none;
                        border-color: #ca7c1b #be751a #a56616;
                        cursor: pointer;
                        padding: 8px 14px;
                        border-style: solid;
                        border-width: 1px;
                        box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;

                        &:active {
                            border-color: #ca7c1b #be751a #be751a;
                            background-color: #ed9220;
                            background-image: none;
                            box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
                        }
                    }
                }
            }
        }
    }
}

.welcome-div {
    width: 20%;
    height: 14vh;
    color: #fff;
    background-color: #232f3e;
    border-radius: var(--radius);
    @include flexin(column, center, space-evenly);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: rise 1.5s forwards 1.9s;
    box-shadow:  var(--boxShadow);
    z-index: 2;

    i {
        animation: bounce 2s ease infinite;
    }
}

.preloader {
    display: none;
    width: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// CLASSLISTS
.orange-border {
    border-radius: var(--radius);
    border: 2px solid orange;

    .url-input {
        border-radius: 3.5px 0 0 3.5px !important;
    }

    .url-btn {
        border-radius: 0 3.5px 3.5px 0 !important;
    }
}

.disabled {
    pointer-events: none;
}

.error-validation {
    color: #f8d7da;
    background-color: #d2322d;
}

.success-validation {
    color: #fff;
    background-color: hsl(148, 26%, 48%);
}

.drop {
    animation: drop 1.5s forwards;
}

.rise {
    animation: rise 1.5s forwards;
}


// ANIMATIONS 
@keyframes slide-first-layer {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

@keyframes slide-sec-layer {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% { 
        transform: translateY(12%); 
    } 50% { 
        transform: translateY(-12%); 
    } 100% { 
        transform: translateY(12%); 
    }
}

@keyframes drop {
    0% {
      transform-origin: center;
      opacity: 1;
    } 20% {
      transform: 
        translate3d(-50%, -60%, 0)
        rotate3d(0, 0, 1, -10deg);
      opacity: 1;
    } 40%, 45% {
      transform: 
        translate3d(-50%, -180%, 0)
        rotate3d(0, 0, 1, 10deg);
      opacity: 1;
    } to {
      opacity: 0;
      transform: 
        translate3d(-50%, 800%, 0)
        rotate3d(0, 0, 0, 0deg);
    }
}

@keyframes rise {
    0% {
      opacity: 0;
      transform: 
        translate3d(-50%, 800%, 0)
        rotate3d(0, 0, 1, 10deg);     
    } 20% {
      transform: 
        translate3d(-50%, -180%, 0)
        rotate3d(0, 0, 1, 10deg);
      opacity: 1;
    } 40%, 45% {
      transform: 
        translate3d(-50%, -60%, 0)
        rotate3d(0, 0, 1, -10deg);
      opacity: 1;
    } to {
      transform-origin: center;
      transform: translate(-50%, -50%)  rotate3d(0, 0, 0, 0deg);
      opacity: 1;
    }
}

